crawler/.venv/
crawler/__pycache__/
crawler/*.txt
crawler/data/
crawler/data-organized/
crawler/data-clean/
node_modules
web-framework/server/data.db
web-framework/server/database.db
web-framework/node_modules
web-framework/client/node_modules
web-framework/server/node_modules
web-framework/server/data.db
web-framework/server/schools_facts.db
.idea
.cache
.kate-swp
.DS_Store

